<!-- LASTTEMP -->
<section class="pt-8 pt-md-11">
    <div class="container" style="margin-bottom: 15px">
        <div class="row">
            <div class="col-12">

                <!-- Heading -->
                <h2 class="mb-0"
                    style="background-color: #28A5C5;
                        border-radius: 5px;
                        color: #FFF;
                        font-size: 5rem;
                        text-align: center;
                        width: 55%;
                        margin-top: 15px;
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                    ">
                    Derniers relever :
                </h2>

                <!-- -->
                <p class="mb-5 text-muted"
                   style="background-color: #28A5C5;
                        border-radius: 5px;
                        color: white;
                        font-size: 2rem;
                        text-align: center;
                        width: 30%;
                        margin-top: 15px;
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                   ">
                    Affichages des derniers relever de température :
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            {% for chambreFroide in chambreFroides %}
            <div class="col-12">

                <!-- Card -->
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row gx-0">
                        <p class="col-12 col-md-6 bg-cover card-img-start" style="background-image: url({{ chambreFroide.file }}); ; margin-top: 15px">

                            <!-- Image (placeholder) -->
                            <img src="{{ chambreFroide.file }}" width="646" height="255" alt="...">

                        </p>
                        <div class="col-12 col-md-6">

                            <!-- Body -->
                            <p class="card-body">

                                <!-- Heading -->
                                    <h3>Chambre froide n°: {{ chambreFroide.title}} </h3>
                                    <h4>OFF du </h4>

                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    Relever de température : {{ chambreFroide.description|u.truncate(200, '...', false) }}
                                </p>
                            </p>

                            <!-- Meta -->
                            <p class="card-meta">

                            <!-- Créateur -->
                            <hr class="card-meta-divider">
                            <p class="mb-0 text-muted">
                                {{ chambreFroide.author }}
                            </p>

                            <!-- Date d'ajout -->
                            <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                <time>
                                    Ajouté le : {{ chambreFroide.date|date('d/m/Y') }}
                                </time>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>