{% extends 'base.html.twig' %}

{% block title %}Sondes{% endblock %}

{% block body %}
    <!-- SONDES -->
    <section class="pt-7 pt-md-10">
        <div class="container" style="margin-bottom: 15px">
            <div class="row">
               <div class="col-12">

                    <!-- Heading -->
                    <h2
                        class="mb-0"
                        style="background-color: #28A5C5;
                            border-radius: 5px;
                            color: #FFF;
                            font-size: 5rem;
                            text-align: center;
                            width: 70%;
                            margin-top: 15px;
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                        ">
                        Affichages des relever de température :
                    </h2>
                    <hr class="card-meta-diviser">

                </div>
            </div>
            <!-- / .row -->
            {% for chambreFroide in chambreFroides %}
                <div class="col-12 col-md-6 d-flex">
                    <div class="card mb-6 shadow-lg">

                        <!-- Card -->
                        <a class="card-body" href="{{ path('details_sondes', {'id': chambreFroide.id}) }}">
                            <h3>
                                {{ chambreFroide.title }}
                            </h3>
                            <h4>
                                {{ chambreFroide.subtitle }}
                            </h4>
                        </a>
                        <p class="mb-0 text-muted">
                            Relever de températures : {{ chambreFroide.temprelever }}
                        </p>
                        <p>
                            Relever d'hygrométries : {{ chambreFroide.hygrorelever }}
                        </p>
                        <a class="card-meta mt-auto"
                           href="#!"
                           style="margin-left: 10px;
                                  margin-bottom: 5px
                        ">
                            <hr class="card-meta-diviser">
                            <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                <time>Ajouté le : {{ chambreFroide.date|date('d/m/Y') }}</time>
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- / .row -->
        </div>
        <!-- / .container -->
        <div class="d-flex">
            {% do chambreFroides.setPageRange(2) %}
            {{ knp_pagination_render(chambreFroides, 'base/pagination.html.twig') }}
        </div>
        {% if is_granted("ROLE_TECHNICIEN") %}
            <a
                    href="{{ path('add_sondes') }}"
                    class="btn btn-primary"
                    style="border-radius: 5px;
               color: #FFF;
               font-size: 1.2rem;
               text-align: center;
               width: 20%;
               margin-top: 15px;
               margin-bottom: 15px;
               display: block;
               margin-right: auto;
               margin-left: auto;
    ">
                Ajouter une ChambreFroide / Sondes
            </a>
        {% endif %}
    </section>
{% endblock %}
